*,
html,
body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  background-color: black;
}

.ghibli-heading-font {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.animated-video {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.3;
  transition: opacity 5.5s;
}

.start-btn {
  background-image: url("/welcome.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10000rem;
  height: 17rem;
  width: 17rem;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
  opacity: 0;
  transition: opacity 3s;
  cursor: pointer;
  z-index: 100;
  border: 2px solid white;
  padding: 1rem;
}

.start-btn:hover {
  background-image: url("/welcome.gif");
  border: 4px solid whitesmoke;
}

.start-btn:focus {
  outline: none;
  border: 4px solid greenyellow;
}
